@import "tailwindcss";

@font-face {
    font-family: 'Tactic_Sans';
    src: local('Tactic Sans Extra Extended Bold'), local('Tactic-Sans-Extra-Extended-Bold'),
    url('./fonts/TacticSansExtExd-Bld.woff2') format('woff2'),
    url('./fonts/TacticSansExtExd-Bld.woff') format('woff'),
    url('./fonts/TacticSansExtExd-Bld.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme{
    --font-tactic: Tactic_Sans, sans-serif;
}

body {
    color: #ffffff
}



